body {

    background-color: #BBF3E6;

}

.tip-cont {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:0 auto;
    border:0px solid red;
    background-color: #A0EEDF;
    border-radius:50px;
    padding:5%;

}

.bill-amount-group, .tip-amount-group{
    margin-top:5%;
    margin-bottom:5%;
}


input {
    display:block;
}

button {
    margin-bottom:5%;
}