body {

    background: rgb(187,243,230);
    background: radial-gradient(circle, rgba(187,243,230,1) 0%, rgba(160,238,223,1) 35%, rgba(145,224,210,1) 100%);
    font-family: 'Lato', sans-serif;

}

h1 {

    font-weight: bold;
}

.tip-cont {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    margin:0 auto;
    border:5px solid #ffffff;
    background-color: #A0EEDF;
    border-radius:50px;
    padding:5%;

}

.bill-amount-group, .tip-amount-group{
    /*margin-top:5%;*/
    margin-bottom:5%;
}

label {
    display:block;
}

input {
    display:block;
}

button {
    margin-bottom:5%;
    background-color: #6E54D7;
    padding:10px;
    color:#ffffff;
    border:0px;
    text-transform:uppercase;
}